
.row {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.row input{
    height: 30px;
    padding-left: 5px;
}
.tips{
    color: #666666;
    font-size: 12px; 
    margin-top: 5px;
    margin-left: 10px;
}
div button{
    height: 30px;
    color: #407df7;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #407df7;
    border-radius: 5px;
    background-color: #ffffff;
}
