.login_content{
    width: 100%;
    /* height: 55px; */
    height: auto;
    overflow: hidden;
    margin: auto ;
    overflow:hidden;
    margin-top: 10px;
}
.login{
    width: 50%;
    height: auto;
    overflow:hidden;
    border: 1px solid #eeeeee; 
    margin: auto ;
}
.login_content_title{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.login_content_input{
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 30px;
    margin-top: 10px;
}
.login_button{
    width: 80%;
  height: 44px;
  border: 1px solid #ddd; 
  font-size: 24px;
  background-color: #F33; 
  text-align: center;
  color: #fff;
  padding:5px 8px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}