@charset "utf-8";
* {
  box-sizing: border-box;
}

.section-video ul.list {
  padding: 5px;
  width: 100%;
  font-size: 12px;
  background-color: #0363b5;
  list-style: none;
  overflow: hidden;
}

.section-video ul.list li {
  display: inline-block;
  width: 50%;
  padding: 5px;
  float: left;
}

.section-video ul.list li a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.section-video ul.list li .img {
  width: 100%;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 54.545454%;
}

.section-video ul.list li .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.section-video ul.list li .img .time {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 15px;
  font-size: 12px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, .48);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0 10px
}

.section-video ul.list li .title {
  display: block;
  line-height: 18px;
  padding: 4px 0;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis
}


.textStyle{
  color:#F33;
  font-size:18pt;
  padding:10px;
}
.input{
  width: 80%;;
  float: left;
  margin: 10px;
  min-height: 30px;
  max-height: 30px;
  font-size:14px;
  padding:5px 8px;
  margin-top: 10px;
  border:1px solid #ddd;
  /* margin-right: 10px; */
}
.div-title{
  width: 100px;
 
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
   
  float: left;
}
.div-inline{ 
  display:inline;
} 
.div-row{
  width: 100%;
  /* min-height: 50px; */
  height: auto;
  overflow:hidden;
  display:block;
  clear:both;
  /* border:1px solid #ddd; */
  margin-top: 10px;
  margin-right: 0px;
}
.div_select{
  height: 30px;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
}
.div_input{
  width: 80%;;
  float: left;
  margin: 10px;
  min-height: 30px;
  max-height: 30px;
  font-size:14px;
  padding:5px 8px;
  margin-top: 10px;
  border:1px solid #ddd;
  position: relative;
  /* top:0;
  left:0; */
}
.tips {
  font-size: 13px;
  color: #999999; 
}

.input:empty::before {
  content: attr(placeholder);
}
.button{
  width: 80%;
  height: 50px;
  border: 1px solid #ddd; 
  font-size: 24px;
  background-color: #407df7; 
  text-align: center;
  color: #fff;
  padding:5px 8px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
}
 
#feedback{
  height: 200px;
  /* text-align: center; */
  /* height: 160px; */
  height: auto;
  min-height: 160px; 
  overflow:hidden;
  border: 1px solid silver;
  border-radius: 3px;
  margin-top: 10px;
}
#feedback img{
  margin:3px 10px;
  border: 1px solid silver;
  border-radius:3px;
  padding: 6px; 
  width: 35%;
  height: 85%;
  
}
#feedback p{
  font-family: "微软雅黑";
  line-height: 120px;
  color: #ccc;
}
.file {
  position: relative;
  display: inline-block;
  border: 1px solid #407df7;
  border-radius: 4px;
  padding: 8px 16px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  color: #407df7;
  }
  
  .file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  }
  .box{
  margin-top: 20px;
  text-align: center;
  }
  .box a{
  margin-left: 10px;
  }
  .section-row{
    text-align: center
  }
  .section-row-img{
    width: 100%;
  }
  .nav {
    width: 100%; 
    height: auto;
    overflow:hidden;
    background: #fff;
  }
  .nav_content{
    width: 100%;
    height: 44px;
    vertical-align: middle;
    
  }
  .nav_back{
    width: 40px; 
    height: 40px;
    vertical-align: middle;
    display: table-cell;
    float: left;
    padding-top: 5px;
  }
  .nav_back_img {
    width: 30px; 
    height: 30px;
    
  }
  .nav_title{
    float: left; 
    font-size: 16px; 
    color: #333333;
    padding-top: 10px;
    width: 80%;
    text-align: center;
  }
  .line{
    width: 100%;
    height: 1px;
    background: #eeeeee; 
    margin-top: 5px;
  }
  .product_det{
    margin-top: 1px;
  }
  .product_det_title{
    font-size: 20px;
    color: #333333; 
    margin-top: 10px;
  }
  .product_det_infoTitle{
    font-size: 16px;
    color:#666;
    margin-top: 5px;
  }
  .product_det_info{
    font-size: 14px;
    color:#999;

    margin-top: 5px;
  }
  .product_det_attribute{
    font-size: 16px;
    color: #0363b5;
    margin-top: 5px;
  }
  .product_det_price{
    font-size: 18px;
    color: #F33; 
    margin-top: 5px;
  }
  .product_det_brand{
    font-size: 14px; 
    color: #333333; 
    margin-top: 5px;
  }
  .product_det_spec{
    font-size: 14px; 
    color: #333333; 
    margin-top: 5px;
  }
  .product_det_stock{
    font-size: 14px; 
    color: #333333;
    margin-top: 5px;
 
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.product_list_cort{
  width: 100%;
  height: auto;
  overflow:hidden;
}
 .product_list{
 
    height: 100px;
    padding: 5px;
    display: flex;
    border-bottom: 1px solid #e4e4e4;
 }
.product_list_img{
    width: 90px;
    height: 90px;
    border-radius: 3px; 
 
}
 
.product_list_content{
  /* float: left; */
    display: inline-block;
    height: 100px;
    position: relative;
    padding-left: 5px;
 
}
.product_list_content_price{
  float: left;
  font-size: 18px; 
  color: #F33; 
 
  height: 20px;
  margin-top: 5px;
}
.product_list_content_unit{
  float: left;
  font-size: 14px; 
  color: #333333;
  height: 20px;
  margin-top: 5px;
 
}
.product_list_line{
  margin-top: 10px; 
 
}
.product_list_content_price_con{
  margin-top: 10px;
}
.button_right{
  float:right;
  margin-top: 5px;
  height: 30px;
  color: #407df7;
  font-size: 16px;
  width: 100px;
  border: 1px solid #407df7;
  border-radius: 5px;
  margin-right: 10px;
}